@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

.monospace {
    font-family: monospace;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 82%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255, 0.3));
    border-radius: 1.9rem;
    backdrop-filter: blur(25px);
    display: flex;
}

.userimg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.m {
    margin-left: 5%;
}

@keyframes spinkf {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation-iteration-count: infinite;
    animation-name: spinkf;
    animation-duration: 5s;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255, 0.3));
    border-radius: 1.8rem;
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 4.5rem;
    align-items: center;
    background-color: #65dfc9;
    color: #0000EE;
    text-decoration: underline;
    justify-content: center;
    border-radius: 0.9rem;
}

.link a {
    padding: 0.5rem 1rem;
    font-size: 18px;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ContentDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#TitleElement {
    margin: 1rem;
    font-family: "Montserrat";
    font-weight: inherit;
    font-size: 35px;
}

p {
    font-size: 22px;
    margin: 1.1rem
}

.login {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    padding: 1rem;
    width: 80%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login button {
    background: transparent;
    border: none !important;
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: large;
}